<!--Some of my open source projects could be found on my <a href="github.com">github</a>.<br /-->
My paper publications are avalible online:
<ul>
	<li>Majid Lashgarian, Mohammad Shafiei R. N., Mohammad Ali Zakeri Harandi, <b>Aref Moqadam Mehr</b>, et al. , <b>MRL-SPL 2013 Team Description Paper (TDP)</b>, RoboCup 2013 Eindhoven, Netherlands.
<a href="../downloads/MRL-SPL_TDP_2013.pdf"><img src="../images/stories/pdf_icon_16x16.gif" /></a>
</li>
	<li>Ehsan Hashemi, Maani Ghaffari Jadidi, Mostafa Yaghobi, <b>Aref Moqadam Mehr</b>, et al. , <b>MRL-SPL Code Release and Team Report 2012</b>
<a href="../downloads/MRL-SPL_TeamReport2012.pdf"><img src="../images/stories/pdf_icon_16x16.gif"></a>&nbsp;
<a href="../downloads/MRL-SPL_CodeRelease2012.bib"><img src="../images/stories/bibtex_icon_16*16.png"></a>&nbsp;
<a href="../downloads/MRL-SPL_CodeRelease2012.tar.bz2"><img src="../images/stories/zip_icon_16*16.gif"></a>
</li>
<li>
<b>Aref Moqadam Mehr</b>, Novin Shahroudi. <b>A Debugger Tool for Vision on Humanoid Framework</b>. Iran Open 2013 5th International Symposium (RIOS13) - IEEE indexed. April - 2013
<a href="debug_vision.pdf"><img src="../images/stories/pdf_icon_16x16.gif"></a>
</li>
</ul>
