<p>Currently, I am studying Computer Engineering at <a itemprop="affiliation" href="http://qiau.ac.ir">Qazvin Azad University</a> in Iran. I am interested in Computer and Cognition Science and it's related field including 

<b>Computer Vision</b>, <b>World and Environment Modeling and Tracking</b>, <b>Localization and Mapping</b>

Also, There are some field I would like to learning more about, such as <b>Natural Language Processing (NLP)</b>. Beside, I am interested in <b>Autonomous Robotics</b>. I am currently working on <a href="http://www.aldebaran.com/en/humanoid-robot/nao-robot">NAO</a> humanoid robots and I am supervisor of Vision and Modeling group in <a href="http://www.mrl-spl.ir">bipedal laboratory</a> in <a itemprop="worksFor" href="http://www.mrl.ir">Mechatronics Research Laboratories (MRL)</a>. In addition to my position in MRL, I am head member of Distributed Computing Systems Center at Qazvin Azad University.</p>
<p>I love learning new languages, by now I can speak in Persian, English and Turkish, and I am learning Spanish and German. I'd like to learn Russian, Chinese and French too! But my most preferred language is C++!</p>
<br />
<a href="http://arefmq.blogspot.com" style="float:right">What I am doing now.</a>
<br />
</p>
