<ul>
	<li>
	  <strong>Aref Moqadam Mehr</strong>, Novin Shahroudi. <strong>A Debugger Tool for Vision on Humanoid Framework</strong>. Iran Open 2013 5th International Symposium (RIOS13) - IEEE indexed. April - 2013
  	<a href="http://mrl-spl.ir/~moqadam/papers/debug_vision.pdf"><img src="http://mrl-spl.ir/~moqadam/images/stories/pdf_icon_16x16.gif" alt="pdf" /></a>
	</li>

	<li>
	  Majid Lashgarian, Mohammad Shafiei R. N., Mohammad Ali Zakeri Harandi, <strong>Aref Moqadam Mehr</strong>, Novin Shahroudi et al. , <strong>MRL-SPL 2013 Team Description Paper (TDP)</strong>, RoboCup 2013 Eindhoven, Netherlands.
  	<a href="http://mrl-spl.ir/downloads/MRL-SPL_TDP_2013.pdf"><img src="http://mrl-spl.ir/~moqadam/images/stories/pdf_icon_16x16.gif" alt="pdf" /></a>
	</li>

	<li>
	  Ehsan Hashemi, Maani Ghaffari Jadidi, Mostafa Yaghobi, <strong>Aref Moqadam Mehr</strong>, Novin Shahroudi, et al. , <strong>MRL-SPL Code Release and Team Report 2012</strong>
  	<a href="http://mrl-spl.ir/downloads/MRL-SPL_TeamReport2012.pdf"><img src="http://mrl-spl.ir/~moqadam/images/stories/pdf_icon_16x16.gif" alt="pdf" /></a>&nbsp;
  	<a href="http://mrl-spl.ir/downloads/MRL-SPL_CodeRelease2012.bib"><img src="http://mrl-spl.ir/~moqadam/images/stories/bibtex_icon_16*16.png" alt="bibtex" /></a>&nbsp;
  	<a href="http://mrl-spl.ir/downloads/MRL-SPL_CodeRelease2012.tar.bz2"><img src="http://mrl-spl.ir/~moqadam/images/stories/zip_icon_16*16.gif" alt="zip" /></a>
	</li>
</ul>
