<p>من، عارف مقدم مهر (Aref Moqadam Mehr) دانشجوی رشته مهندسی نرم افزار در <a itemprop="affiliation" 
href="http://qiau.ac.ir">دانشگاه آزاد اسلامی واحد قزوین</a> می باشم. 
من به رشته کامپیوتر و زیر شاخه های آن از جمله 

<b>بینایی ماشین</b>, 
<b>یادگیری ماشین</b>, 
<b> موقعیت یابی و نقشه یابی </b> و 
<b>پردازش زبان طبیعی (NLP)</b> 
نیز علاقمندم. 

در حال حاضر من مشغول به کار در 
<a itemprop="worksFor" href="http://src.systems">مرکز تحقیقات نرم افزار (SRC.Systems)</a> در قزوین می باشم.
 در SRC من بر روی پروژه To3D کار می کنم که در واقع ابزاری است برای بازسازی مدل های سه بعدی از روش فوتوگرامتری (Photogrammetry).
در کنار کار در SRC، در <a href="http://www.mrl.ir">مرکز تحقیقات مکاترونیک (MRL)</a> 
در آزمایشگاه <a href="http://www.mrl-spl.ir">ربات انسان نمای نائو</a> 
به عنوان سرپرست مشغول به کار هستم. 
</p>

